/** @format */

html {
  font-size: 62.5%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #3751e4;
  width: 99%;
  height: 99%;
}

.navbar {
  height: 100%;
  width: 100%;
  color: rgba(255, 255, 255, 0.959);
}
.title {
  display: flex;
  justify-content: center;
  font-size: xx-large;
  font-weight: bold;
}

.banner {
  width: 100%;
  border-style: solid;
  border-width: 0.1rem;
  border-color: goldenrod;
  display: flex;
  justify-content: space-between;
  background-color: rgb(34, 32, 32);
  padding: 0.2rem;
  padding-right: 0.2rem;
}

.banner img {
  object-fit: fill;
  width: 4.8rem;
  height: 4.8rem;
  border-style: solid;
  border-color: rgb(19, 18, 18);
}

#contentContainer {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100vh;
  background-image: url("images/pexels-benjamin-suter-3617500.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-style: solid;
  border-color: goldenrod;
  border-top: 0.3rem;
  background-color: #1c1c6e;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  column-gap: 10%;
  row-gap: 10%;
  overflow-y: auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.table {
  position: relative;
  display: inline-block;
  border-collapse: collapse;
  min-width: 10%;
  max-width: 100%;
  top: 20px;
  background-color: #292f33;
  color: whitesmoke;
  letter-spacing: 0.02rem;
  font-size: 1.8rem;
  font-weight: bold;
  text-align: center;
  border-style: solid;
  border-width: 0.1rem;
  border-color: burlywood;
  overflow-y: auto;
}

.table th,
.table td {
  padding: 10px;
  text-align: center;
  vertical-align: middle;
}

.table th {
  font-weight: bold;
  border-bottom: 1px solid #ddd;
}

.table tr td {
  border-bottom: 0.1rem solid burlywood;
  border-top: 0.1rem solid burlywood;
  border-left: none;
  border-right: none;
  padding: 1.6rem;
}

.table img {
  width: 4.5rem;
  height: auto;
}

.dropdown-btn {
  display: block;
  padding: 5px 10px;
  background-color: #f1f1f1;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.dropdown-btn:hover {
  background-color: #ddd;
}

.dropdown-menu {
  display: none;
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 0%;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.dropdown-menu li {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.dropdown-menu li:hover {
  background-color: #f1f1f1;
}

div.cloneForm {
  display: flex;
  text-align: center;
  position: absolute;
  top: 1%;
}
