/** @format */

html {
  font-size: 62.5%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #133c94;
  width: 100%;
  height: 100%;
}
.navbar {
  height: 100%;
  width: 100%;
  color: rgba(255, 255, 255, 0.959);
}
.title {
  display: flex;
  justify-content: center;
  font-size: xx-large;
  font-weight: bold;
}

.banner {
  width: 100%;
  border-style: solid;
  border-width: 0.1rem;
  border-color: goldenrod;
  display: flex;
  justify-content: space-between;
  background-color: rgb(34, 32, 32);
  padding: 0.2rem;
  padding-right: 0.2rem;
}

.banner img {
  object-fit: fill;
  width: 4.8rem;
  height: 4.8rem;
  border-style: solid;
  border-color: rgb(19, 18, 18);
}

.groupTable {
  border-collapse: collapse;
  background-color: #292f33;
  color: whitesmoke;
  letter-spacing: 0.02rem;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  border-style: solid;
  border-width: 0.1rem;
  border-color: burlywood;
}

.groupTable tr td {
  border-bottom: 0.1rem solid burlywood;
  border-top: 0.1rem solid burlywood;
  border-left: none;
  border-right: none;
  padding: 1.6rem;
}

.dropbtn {
  background-color: #5a788b;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:focus {
  background-color: #5a788b;
}

.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(197, 197, 197);
  min-width: 140px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.show {
  display: flex;
}

li {
  cursor: pointer;
  color: black;
  font-size: 1.6rem;
  font-weight: bold;
  justify-content: center;
  text-align: justify;
}

.tContainer {
  position: relative;
  display: flex;
  width: 100%;
  height: 100vh;
  border-style: solid;
  border-color: goldenrod;
  border-top: 0.3rem;
  background-image: linear-gradient(#1e57d1, #3968ce);
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 15%;
  row-gap: 10%;
}

#selectionText {
  height: 0.5rem;
  width: 0.5rem;
}

#selectionText #listImage {
  position: absolute;
  height: 5rem;
  width: 5rem;
}

#dataBtn {
  align-content: center;
  width: 6rem;
  height: 2rem;
}

a {
  color: hotpink;
}

div.cloneForm {
  display: flex;
  text-align: center;
  position: absolute;
  top: 1%;
}

#clones {
  height: fit-content;
  min-width: auto;
}

.modal {
  display: none;
  position: flex; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 10px; /* Location of the box */
  left: 40rem;
  top: 30rem;
  width: 30%; /* Full width */
  height: 10%; /* Full height */
  overflow: auto;
  background-color: rgb(255, 255, 255); /* Fallback color */
  background-color: rgba(231, 68, 68, 0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
