/** @format */

html {
  font-size: 62.5%;
}

*table {
  margin: 0.4rem;
  padding: 0.1rem;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif; /* If the font name has 2 seperate words in it, then you must surround it with quotations" like so
	"Font name" */
  overflow: hidden;
}

body {
  position: relative;
  font-family: Arial, Helvetica, sans-serif; /* If the font name has 2 seperate words in it, then you must surround it with quotations" like so
	"Font name" */

  background-color: #133c94;
}
.navbar {
  height: 100%;
  width: 100%;
  color: rgba(255, 255, 255, 0.959);
}
.title {
  text-align: center;
  font-size: xx-large;
  font-weight: bold;
}

.banner {
  width: 100%;
  border-style: solid;
  border-width: 0.1rem;
  border-color: goldenrod;
  display: flex;
  justify-content: space-between;
  background-color: rgb(34, 32, 32);
  padding: 0.2rem;
  padding-right: 0.2rem;
}

.banner img {
  object-fit: fill;
  width: 4.8rem;
  height: 4.8rem;
  border-style: solid;
  border-color: rgb(19, 18, 18);
}

.tcontainer {
  display: flex;
  width: 100%;
  border-style: solid;
  border-color: goldenrod;
  justify-content: center;
  align-items: center;
  border-top: 0.3rem;
}
.groupone {
  position: relative;
  border-collapse: collapse;
  color: whitesmoke;
  padding: 1rem 2rem;
  letter-spacing: 0.1rem;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  border-style: solid;
  border-width: 0.1rem;
  border-color: black;
}

.groupone tbody tr td {
  border-bottom: 0.1rem solid black;
  border-top: 0.1rem solid black;
  border-left: 0.1rem solid black;
  border-right: 0.1rem solid black;
  padding: 1.6rem;
}

/* .grouptwo {
  position: absolute;
  border-collapse: collapse;
  color: rgb(136, 15, 15);
  padding: 1rem 2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 2rem;
  font-weight: bold;
  text-align: left;
  border-style: solid;
  border-width: 0.1rem;
  border-color: black;
  left: 46%;
  top: 25rem;
}

.grouptwo tbody tr td {
  border-bottom: 0.1rem solid black;
  border-top: 0.1rem solid black;
  border-left: 0.1rem solid black;
  border-right: 0.1rem solid black;
  padding: 1.6rem;
}

.groupthree {
  position: absolute;
  border-collapse: collapse;
  color: rgb(136, 15, 15);
  padding: 1rem 2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 2rem;
  font-weight: bold;
  text-align: left;
  border-style: solid;
  border-width: 0.1rem;
  border-color: black;
  left: 56%;
  top: 25rem;
}

.groupthree tbody tr td {
  border-bottom: 0.1rem solid black;
  border-top: 0.1rem solid black;
  border-left: 0.1rem solid black;
  border-right: 0.1rem solid black;
  padding: 1.6rem;
}

.groupfour {
  position: absolute;
  border-collapse: collapse;
  color: rgb(136, 15, 15);
  padding: 1rem 2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 2rem;
  font-weight: bold;
  text-align: left;
  border-style: solid;
  border-width: 0.1rem;
  border-color: black;
  left: 41%;
  top: 58rem;
}

.groupfour tbody tr td {
  border-bottom: 0.1rem solid black;
  border-top: 0.1rem solid black;
  border-left: 0.1rem solid black;
  border-right: 0.1rem solid black;
  padding: 1.6rem;
}

.groupfive {
  position: absolute;
  border-collapse: collapse;
  color: rgb(136, 15, 15);
  padding: 1rem 2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 2rem;
  font-weight: bold;
  text-align: left;
  border-style: solid;
  border-width: 0.1rem;
  border-color: black;
  left: 51%;
  top: 58rem;
}

.groupfive tbody tr td {
  border-bottom: 0.1rem solid black;
  border-top: 0.1rem solid black;
  border-left: 0.1rem solid black;
  border-right: 0.1rem solid black;
  padding: 1.6rem;
} */

/* #apptables {
  position: absolute;
  border-collapse: collapse;
  color: rgb(136, 15, 15);
  padding: 1rem 2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 2rem;
  font-weight: bold;
  text-align: left;
  border-style: solid;
  border-width: 0.1rem;
  border-color: black;
  left: 60%;
  top: 25rem;
} */

.tables {
  margin: auto;
  border: 0.3rem solid black;
}

.dropbtn {
  background-color: #5a788b;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:focus {
  background-color: #5a788b;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: whitesmoke;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

li {
  cursor: pointer;
}

#listItem {
  color: black;
}

.tcontainer {
  display: flex;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(#1e57d1, #3968ce);
  align-items: center;
  justify-content: center;
}

.cell {
  display: flex;
}
/* select.icon-menu option {
    background-repeat:no-repeat;
    background-position:bottom left;
    padding-left:30px;
    }
    select#classSpec option[value="dk"] {
    background-image:url(images/blooddk.png);
    }
 */
